guildID = string
START_CHANNEL = string
campusCommunityRoleID = string
memberRoleID = string
campusLeadRoleID = string
femaleRoleID = string
errorHandleChannelID = string
DISCORD_TOKEN  = string
NOCODB_API_BASEURL = "https://localhost:8080/api"
NOCODB_API_TOKEN = string
